@(person: Person)(certificates: java.util.List[Certificate])
@main{
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a href="@routes.Persons.personsMain()">Osoblje</a>
                <i class="icon-angle-right"></i>
                <a href="@routes.Persons.listOfPersons()">Lista osoblja</a>
                <i class="icon-angle-right"></i>
                <a>Uredi osobu</a>
            </li>
        </ul>

        <div class="box-content span6">
            <form method="POST" class="form-horizontal" role="form" action="@routes.Persons.updatePerson(person.id)">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">Ime</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="name" name="name" type="text" value="@person.name" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastname">Prezime</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="lastname" name="lastname" type="text" value="@person.lastName" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="company">Firma</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="company" name="company" type="text" value="@person.company">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="phone">Telefon</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="phone" name="phone" type="text" value="@person.phone" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="email" name="email" type="email" value="@person.mail" required>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Azuriraj</button>
                    </div>



                </fieldset>
            </form>
        </div>

        <div class="row-fluid sortable" style="margin-left: 14%">
            <div class="box span5">
                <div class="box-header">
                    <h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Certifikati</h2>
                </div>
                <div class="box-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ime certifkata</th>
                                <th>Obrisi</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(certificate <- certificates) {
                            <tr>
                                <td>@certificate.name</td>
                                <td class="center">
                                    <a class="btn btn-danger" href="@routes.PersonCertificates.deleteCertificate(person.id + "-" + certificate.id)">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div><!--/span-->
        </div>
    </div>

}