@main{
    <div id="content" class="span10">

        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a>Firme</a>
            </li>
        </ul>

        <div class="row-fluid">
            <a class="quick-button metro greenLight span2" href="@routes.Companies.createCompanyRender()">
                <i class="icon-plus"></i>
                <p>Dodaj firmu</p>
            </a>

            <a class="quick-button metro blue span2" href="@routes.Companies.listOfCompanies()">
                <i class="icon-list"></i>
                <p>Lista firmi</p>
            </a>
        </div>
    </div>
}