@main {
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a href="@routes.Companies.companyMain()">Firme</a>
                <i class="icon-angle-right"></i>
                <a>Dodaj firmu</a>
            </li>
        </ul>



        <div class="box-content">
            <form method="POST" class="form-horizontal" role="form" action="@routes.Companies.createCompany()">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="name">Ime</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="name" name="name" type="text" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="email" name="email" type="email" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="phone">Telefon</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="phone" name="phone" type="text" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="pdv">PDV broj</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="pdv" name="pdv" type="text">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="category">Kategorija</label>
                        <div class="controls">
                            <select data-placeholder="Odaberite kategoriju" id="category" name="category" data-rel="chosen">
                                <option value=""></option>
                                <optgroup label="JAVNE USTANOVE">
                                    <option>Vlade</option>
                                    <option>Kantoni</option>
                                    <option>Lokalna samouprava</option>
                                    <option>Zavodi</option>
                                    <option>Klinicki centri</option>
                                </optgroup>
                                <optgroup label="INDUSTRIJA">
                                    <option>Prehrambeni proizvodjaci</option>
                                    <option>Velika, mala i srednja preduzeca</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
}