@main{
    <div id="content" class="span10">

        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a>Certifikati</a>
            </li>
        </ul>

        <div class="row-fluid margin-bottom">
            @*<a class="quick-button metro greenLight span2" href="@routes.Certificates.createCertificateRender()">*@
                @*<i class="icon-plus"></i>*@
                @*<p>Dodaj certifikat</p>*@
            @*</a>*@

            <a class="quick-button metro blue span2" href="@routes.Certificates.listOfCertificates()">
                <i class="icon-list"></i>
                <p>Lista certifikata</p>
            </a>
        </div>

        <div class="row-fluid margin-bottom">
            <a class="quick-button metro greenLight span2 height" href="@routes.Certificates.mKvalitete()">
                <i class="icon-file"></i>
                <p>Menadzer kvalitete</p>
            </a>
            <a class="quick-button metro greenLight span2 height" href="@routes.Certificates.mOkolisa()">
                <i class="icon-file"></i>
                <p>Menadzer okolisa</p>
            </a>
            <a class="quick-button metro greenLight span2 height" href="@routes.Certificates.mZZS()">
                <i class="icon-file"></i>
                <p>Menadzer zastite zdravlja i sugurnosti</p>
            </a>
            <a class="quick-button metro greenLight span2 height" href="@routes.Certificates.mSH()">
                <i class="icon-file"></i>
                <p>Menadzer sigurnosti hrane</p>
            </a>
            <a class="quick-button metro greenLight span2 height" href="@routes.Certificates.mRizika()">
                <i class="icon-file"></i>
                <p>Menadzer rizika</p>
            </a>
        </div>

    </div>
}