@main{
    <div id="content" class="span10">

        <ul class="breadcrumb">
            <li>
                <i class="icon-dashboard"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a>Certifikati</a>
            </li>
        </ul>

        <div class="row-fluid">
            <a class="quick-button metro greenLight span2" href="@routes.Certificates.createCertificateRender()">
                <i class="icon-plus"></i>
                <p>Dodaj certifikat</p>
            </a>

            <a class="quick-button metro blue span2" href="@routes.Certificates.listOfCertificates()">
                <i class="icon-list"></i>
                <p>Lista certifikata</p>
            </a>


        </div>
    </div>
}