@main {
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a href="@routes.Certificates.certificateMain()">Certifikati</a>
                <i class="icon-angle-right"></i>
                <a>Dodaj certifikat</a>
            </li>
        </ul>



        <div class="box-content">
            <form method="POST" class="form-horizontal" role="form" action="@routes.Certificates.createCertificate()">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="mark">Oznaka</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="mark" name="mark" type="text" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="category">Naziv</label>
                        <div class="controls">
                            <select id="name" data-rel="chosen" name="name"  style="width: 284px;" required>
                                <option>EOQ MENADZER KVALITETE</option>
                                <option>EOQ PROCESS MENADZER</option>
                                <option>EOQ RISK MENADZER</option>
                                <option>EOQ MENADZER OKOLISA</option>
                                <option>EOQ MENADZER ZASTITE NA RADU</option>
                                <option>EOQ MENADZER ISPRAVNOSTI HRANE</option>
                                <option>INTERNI AUDITOR (seminar)</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="duration">Trajanje </label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="duration" name="duration" type="number" value="3" min="0" required>
                        </div>
                    </div>

                    <div class="row-fluid sortable">
                        <div class="box span12">
                            <div class="box-header" data-original-title>
                                <h2><i class="halflings-icon white calendar"></i><span class="break"></span>Calendar</h2>
                            </div>
                            <div class="box-content">
                                <div id="external-events" class="span3 hidden-phone hidden-tablet">
                                    <h4>Draggable Events</h4>
                                    <div class="external-event badge">Default</div>
                                    <div class="external-event badge badge-success">Completed</div>
                                    <div class="external-event badge badge-warning">Warning</div>
                                    <div class="external-event badge badge-important">Important</div>
                                    <div class="external-event badge badge-info">Info</div>
                                    <div class="external-event badge badge-inverse">Other</div>
                                    <p>
                                        <label for="drop-remove"><input type="checkbox" id="drop-remove" /> remove after drop</label>
                                    </p>
                                </div>

                                <div id="calendar" class="span9"></div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div><!--/row-->


                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
}