@(certificates: java.util.List[Certificate])
@main{
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a href="@routes.Certificates.certificateMain()">Certifikati</a>
                <i class="icon-angle-right"></i>
                <a>Lista arhiviranih certifikata</a>
            </li>
        </ul>


        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon white user"></i><span class="break"></span>Lista arhiviranih certifikata</h2>

                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Oznaka</th>
                                <th>Naziv</th>
                                <th>Trajanje</th>
                                <th>Aktiviraj</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(certificates!= null) {
                            @for(certificate <- certificates) {
                                <tr>
                                    <td>@certificate.id</td>
                                    <td>@certificate.mark</td>
                                    <td class="center">@certificate.name</td>
                                    <td class="center">@certificate.duration</td>
                                    <td>
                                        <a class="btn btn-danger" href="@routes.Certificates.activateCertificate(certificate.id)">
                                            <i class="halflings-icon white folder-open"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div>

}