@(certificate: Certificate)
@main {
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
                <i class="icon-angle-right"></i>
                <a href="@routes.Certificates.certificateMain()">Certifikati</a>
                <i class="icon-angle-right"></i>
                <a href="@routes.Certificates.listOfActiveCertificates()">Lista certifikata</a>
                <i class="icon-angle-right"></i>
                <a>Uredi certifikat</a>
            </li>
        </ul>



        <div class="box-content">
            <form method="POST" class="form-horizontal" role="form" action="@routes.Certificates.updateCertificate(certificate.id)">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="mark">Oznaka</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="mark" name="mark" type="text" value="@certificate.mark" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="name">Naziv</label>
                        <div class="controls">
                            <input type="text"  class="input-xlarge focused" id="name" value="@certificate.name"  name="name" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="duration">Trajanje </label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="duration" name="duration" type="number" value="@certificate.duration" min="0" required>
                        </div>
                    </div>




                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Azuriraj</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
}