@import helpers.UserAccessLevel
@(content: Html)(implicit currentUser: AppUser = UserAccessLevel.getCurrentUser(ctx()))

<!DOCTYPE html>
<html lang="en">
    <head>

            <!-- start: Meta -->
        <meta charset="utf-8">
        <title>Oskar</title>


            <!-- end: Meta -->

            <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- end: Mobile Specific -->

            <!-- start: CSS -->
        <link id="bootstrap-style" href='@routes.Assets.versioned("css/bootstrap.min.css")' rel="stylesheet">
        <link href='@routes.Assets.versioned("css/bootstrap-responsive.min.css")' rel="stylesheet">
        <link id="base-style" href='@routes.Assets.versioned("css/style.css")' rel="stylesheet">
        <link id="base-style-responsive" href='@routes.Assets.versioned("css/style-responsive.css")' rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
            <!-- end: CSS -->

            <!-- start: Favicon -->
        <link rel="shortcut icon" href='@routes.Assets.versioned("images/img/favicon.png")'>
            <!-- end: Favicon -->

        <link rel="stylesheet" href='@routes.Assets.versioned("css/font-awesome.min.css")' media="all" />
        <link rel="stylesheet" href='@routes.Assets.versioned("css/glyphicons.css")' media="all" />
        <link rel="stylesheet" href='@routes.Assets.versioned("css/halflings.css")' media="all" />



            <!-- start: JavaScript-->

        <script src='@routes.Assets.versioned("javascripts/js/jquery-1.9.1.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/js/jquery-migrate-1.0.0.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery-ui-1.10.0.custom.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.ui.touch-punch.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/modernizr.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/bootstrap.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/js/bootstrap.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.cookie.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/fullcalendar.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.dataTables.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/excanvas.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/js/jquery.flot.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/js/jquery.flot.pie.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/js/jquery.flot.stack.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/js/jquery.flot.resize.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.chosen.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.uniform.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.cleditor.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.noty.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.elfinder.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.raty.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.iphone.toggle.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.uploadify-3.1.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.gritter.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.imagesloaded.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.masonry.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.knob.modified.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/jquery.sparkline.min.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/counter.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/retina.js")'></script>

        <script src='@routes.Assets.versioned("javascripts/js/custom.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/delayEmail.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/deleteNotifications.js")'></script>




        <!-- end: JavaScript-->

    </head>

    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@routes.AppUsers.panelRender()"><span>OSKAR</span></a>

                        <!-- start: Header Menu -->
                    <div class="nav-no-collapse header-nav">
                        <ul class="nav pull-right">
                            <li class="dropdown hidden-phone">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-bell"></i>
                                    <span class="badge red" id="notifications">
                                     </span>
                                </a>
                                <ul class="dropdown-menu notifications">
                                    <li class="dropdown-menu-title">
                                        <span>Imate @Email.numberOfSentMails() notifikacija</span>
                                        <a href="#" onclick="sendManualy()"><i class="icon-repeat"></i></a>
                                    </li>

                                    <li class="dropdown-menu-sub-footer" id="allNotifications">
                                        <a href="@routes.Notifications.mailedPersons()">View all notifications</a>
                                    </li>
                                </ul>
                            </li>

                                <!-- start: User Dropdown -->
                            <li class="dropdown">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="halflings-icon white user"></i> Ervin
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-menu-title">
                                        <span>Account Settings</span>
                                    </li>
                                    @*<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>*@
                                    <li><a href="@routes.AppUsers.logout()"><i class="halflings-icon off"></i> Logout</a></li>
                                </ul>
                            </li>
                                <!-- end: User Dropdown -->
                        </ul>
                    </div>
                        <!-- end: Header Menu -->

                </div>
            </div>
        </div>

    </header>



    <body >

            <div class="container-fluid-full">
                <div class="row-fluid">
                        <!-- start: Main Menu -->
                    <div id="sidebar-left" class="span2">
                        <div class="nav-collapse sidebar-nav">
                            <ul class="nav nav-tabs nav-stacked main-menu">
                                <li><a href="@routes.AppUsers.panelRender()"><i class="icon-bar-chart"></i><span class="hidden-tablet">
                                    Dashboard</span></a></li>
                                <li>
                                    <a class="dropmenu" href="#"><i class="icon-group"></i><span class="hidden-tablet">
                                        Osoblje</span> <span class="label label-important">@Person.getAllPersonsSize </span></a>
                                    <ul>
                                        <li><a class="submenu" href="@routes.Persons.createPersonRender()"><i class="icon-plus"></i><span class="hidden-tablet">
                                            Dodaj osobu </span></a></li>
                                        <li><a class="submenu" href="@routes.Persons.listOfPersons()"><i class="icon-list"></i><span class="hidden-tablet">
                                            Lista osoblja</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropmenu" href="#"><i class="icon-briefcase"></i><span class="hidden-tablet">
                                        Firme</span> <span class="label label-important">@Company.getAllCompaniesSize </span></a>
                                    <ul>
                                        <li><a class="submenu" href="@routes.Companies.createCompanyRender()"><i class="icon-plus"></i><span class="hidden-tablet">
                                            Dodaj firmu</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.listOfCompanies()"><i class="icon-list"></i><span class="hidden-tablet">
                                            Lista firmi</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.vlade()"><i class="icon-legal"></i><span class="hidden-tablet">
                                            Vlade</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.kantoni()"><i class="icon-building"></i><span class="hidden-tablet">
                                            Kantoni</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.lokalnasamouprava()"><i class="icon-file"></i><span class="hidden-tablet">
                                            Lokalna samouprava</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.zavodi()"><i class="icon-th"></i><span class="hidden-tablet">
                                            Zavodi</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.klinickicentri()"><i class="icon-hospital"></i><span class="hidden-tablet">
                                            Klinicki centri</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.prehrambeniproizvodjaci()"><i class="icon-barcode"></i><span class="hidden-tablet">
                                            Prehrambena industrija</span></a></li>
                                        <li><a class="submenu" href="@routes.Companies.velikamalaisrednjapreduzeca()"><i class="icon-sitemap"></i><span class="hidden-tablet">
                                            Velika, mala i srednja preduzeca</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropmenu" href="#"><i class="icon-copy"></i><span class="hidden-tablet">
                                        Certifikati</span> <span class="label label-important">@Certificate.getAllCertificatesSize </span></a>
                                    <ul>
                                        @*<li><a class="submenu" href="@routes.Certificates.createCertificateRender()"><i class="icon-plus"></i><span class="hidden-tablet">*@
                                            @*Dodaj certifikat</span></a></li>*@
                                        <li><a class="submenu" href="@routes.Certificates.listOfActiveCertificates()"><i class="icon-list"></i><span class="hidden-tablet">
                                            Lista aktivnih certifikata</span></a></li>
                                        <li><a class="submenu" href="@routes.Certificates.listOfArchivedCertificates()"><i class="icon-list"></i><span class="hidden-tablet">
                                            Lista arhiviranih certifikata</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropmenu" href="#"><i class="icon-file"></i><span class="hidden-tablet">
                                        Izvjestaji</span></a>

                                </li>


                            </ul>

                        </div>
                        <input id="numOfMails" value="@Email.numberOfSentMails()" hidden>
                    </div>

                    @content

                </div>

            </div>


            <footer>
                <p>
                    <span style="text-align:left;float:left">&copy; 2016 DT Project</span>
                </p>
            </footer>

    </body>
</html>

