@main{
    <!-- start: Content -->
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-bar-chart"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
            </li>
        </ul>



        <div class="row-fluid">
            
            <a class="quick-button metro yellow span2" href="@routes.Persons.personsMain()">
                <i class="icon-group"></i>
                <p>Osoblje</p>
                <span class="badge">@Person.getAllPersonsSize</span>
            </a>
            <a class="quick-button metro red span2" href="@routes.Companies.companyMain()">
                <i class=" icon-briefcase"></i>
                <p>Firme</p>
                <span class="badge">@Company.getAllCompaniesSize</span>
            </a>
            <a class="quick-button metro blue span2" href="@routes.Certificates.certificateMain()">
                <i class="icon-copy"></i>
                <p>Certifikati</p>
                <span class="badge">@Certificate.getAllCertificatesSize</span>
            </a>


            <div class="clearfix"></div>

        </div><!--/row-->

    </div>
       <!--/.fluid-container-->

    <!-- end: Content -->

}