@main{
    <!-- start: Content -->
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-dashboard"></i>
                <a href="@routes.AppUsers.panelRender()">Dashboard</a>
            </li>
        </ul>



        <div class="row-fluid">
            
            <a class="quick-button metro yellow span2" href="@routes.Persons.staffRender()">
                <i class="icon-group"></i>
                <p>Osoblje</p>
                <span class="badge">237</span>
            </a>
            <a class="quick-button metro red span2">
                <i class=" icon-briefcase"></i>
                <p>Firme</p>
                <span class="badge">46</span>
            </a>
            <a class="quick-button metro blue span2">
                <i class="icon-copy"></i>
                <p>Certifikati</p>
                <span class="badge">13</span>
            </a>


            <div class="clearfix"></div>

        </div><!--/row-->

    </div>
       <!--/.fluid-container-->

    <!-- end: Content -->

}